<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Declare the UserConfig bean -->
    <bean id="userConfig" class="com.myApp.demo.bean.UserConfig">
        <property name="name" value="Aditya"/>
        <property name="className" value="Spring Boot"/>
    </bean>

    <!-- Declare the UserService bean and inject UserConfig -->
    <bean id="userService" class="com.myApp.demo.service.UserService">
        <constructor-arg ref="userConfig"/>
    </bean>

    <bean id="orderService" class="com.myApp.demo.service.OrderService">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="userConfig"/>
    </bean>

</beans>
